---
http_interactions:
- request:
    method: put
    uri: https://api.us-sandbox.afterpay.com/v2/payments/100101529842/courier
    body:
      encoding: UTF-8
      string: '{"shippedAt":"2021-06-02T16:30:43+05:30","name":"Bludart","tracking":"AWB129181","priority":"EXPRESS"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - n2sc65guigaws6dmivqjro4osq
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : "100101529842",
          "token" : "002.avpv776th25fof4itbfvrc019dqje4ia27qjk5525o3mfosr",
          "status" : "APPROVED",
          "created" : "2021-06-01T10:49:10.774Z",
          "originalAmount" : {
            "amount" : "1000.00",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "500.00",
            "currency" : "USD"
          },
          "paymentState" : "PARTIALLY_CAPTURED",
          "merchantReference" : "100101468",
          "refunds" : [ {
            "requestId" : "some_uniqe_val",
            "amount" : {
              "amount" : "250.00",
              "currency" : "USD"
            },
            "refundId" : "1719864",
            "refundedAt" : "2021-06-01T10:58:42.465Z"
          } ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "",
              "surname" : "",
              "email" : "sachin@yourmechanic.com"
            },
            "billing" : {
              "name" : "ADDESS1",
              "line1" : "SOME",
              "line2" : "value",
              "region" : "U.S. state.",
              "postcode" : "000000",
              "countryCode" : "US",
              "phoneNumber" : "5555555"
            },
            "shipping" : {
              "name" : "ADDESS1",
              "line1" : "SOME",
              "line2" : "value",
              "region" : "U.S. state.",
              "postcode" : "000000",
              "countryCode" : "US",
              "phoneNumber" : "5555555"
            },
            "courier" : {
              "shippedAt" : "2021-06-02T11:00:43.000Z",
              "name" : "Bludart",
              "tracking" : "AWB129181",
              "priority" : "EXPRESS"
            },
            "items" : [ ],
            "discounts" : [ ],
            "shippingAmount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            },
            "taxAmount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            }
          },
          "events" : [ {
            "id" : "1tLOnWb3zejkNWCtkfNBoCXiCus",
            "created" : "2021-06-01T10:57:49.981Z",
            "expires" : "2021-06-08T10:57:49.980Z",
            "type" : "AUTH_APPROVED",
            "amount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          }, {
            "id" : "1tLOu14Ajgoyoh8lBLhoEuYDgAr",
            "created" : "2021-06-01T10:58:41.543Z",
            "expires" : null,
            "type" : "CAPTURED",
            "amount" : {
              "amount" : "250.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : ""
          }, {
            "id" : "1tLOuCKI3ee5yjWcvfI50uRjqea",
            "created" : "2021-06-01T10:58:42.495Z",
            "expires" : null,
            "type" : "VOIDED",
            "amount" : {
              "amount" : "250.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Wed, 02 Jun 2021 11:00:43 GMT
recorded_with: VCR 4.0.0
