---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/100101529843/capture
    body:
      encoding: UTF-8
      string: '{"requestId":"wert100101529590","merchantRefernce":"100101468","amount":{"amount":250.0,"currency":"USD"},"paymentEventMerchantReference":""}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - foywxsxxmfizvlhxxf6f7jnf5y
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "error",
          "errorId" : "ce6caf951ebac81a",
          "message" : "A valid auth was not performed for this payment id.",
          "httpStatusCode" : 412
        }
  recorded_at: Wed, 02 Jun 2021 11:26:43 GMT
recorded_with: VCR 4.0.0
